
p.text._text.text-2 {
    font-size: xx-large;
}

body  {
  background-color: rgb(255, 255, 255);
  font: 300 1.25em/1.38 Oswald;
  color: rgb(57, 57, 57);
}

header p {
  margin-bottom: 1em;
}

#Hand {
    cursor: pointer;
}

.title_thumb {
    z-index: 1;
    position: absolute;
    margin: auto;
    padding-top: 120px;
    width: 291px;
    text-align: center;

}

.thumb {
  position: absolute;
  z-index: -1;
}


.image {
  display: block;
  width: 12%;
  height: auto;
  margin: 35px auto 0;
  overflow: hidden;
}

.menu {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.menu .container {
  position: relative;
  height: 30px;
}

.text {

  text-align: center;
}

._container {
  width: 100%;
}

._element {
  position: relative;
  float: left;
  margin: 5px;
  width: 291px;
  height: 291px;
  background-repeat: no-repeat;
  background-position: left top;
}

.container ._text {
  float: left;
  height: 60px;

  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(57, 57, 57);
}

.container ._text:hover {
  color: rgb(230, 174, 72);
}

.container ._text:active {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: rgb(230, 174, 72);
}

.container-image {
  z-index: 12;
}

.container-image:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
}



.text-1 {
  float: left;
  clear: both;
  width: 34.6666666666%;
  min-height: 100px;
  margin: 47px 0 0 32.66667%;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.text-2 {
  width: 100%;
  min-height: 45px;
  margin: 500px auto 0;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  line-height: 2.6;
  color: rgb(230, 174, 72);
}

._container-1 {
  float: left;
  height: 492px;
  background-image: url('../images/DSCF1245.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.container ._text-2 {
  width: 15.8620689655%;
}

.container ._text-2:hover {
  text-decoration: none;
}

.container ._text-2:active {
  background-color: rgba(0, 0, 0, 0);
}

.container ._text-3 {
  width: 15.7758620689%;
  margin-left: 0.99677%;
}

.container ._text-4 {
  width: 15.8620689655%;
  margin-left: 0.99677%;
}

.container ._text-5 {
  width: 16.3793103448%;
  margin-left: 1.0237099999%;
}

.container ._text-6 {
  position: relative;
  z-index: 7;
  width: 16.3793103448%;
  margin-left: 1.03583%;
}

.container ._text-7 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 15.6896551724%;
  margin: -60px 0 0 84.309%;
}

.container ._text-3:active,
.container ._text-4:active,
.container ._text-5:active,
.container ._text-6:active,
.container ._text-7:active {
  border-bottom-color: rgb(230, 174, 72);
}

.text span {

  font-weight: inherit;
}


.label_text {
  background-color: #E6E6E6;
}

#article_content {
  height: 300px;
  width: 1200px;
}

@media(max-width: 320px) {
  body {

  }

  .container .container {
    position: relative;
  }

  .menu {
    height: 185px;
  }

  .menu .container {
    height: 133px;
    margin-top: 10px;
  }

  .text {
    margin-top: 468px;

  }

  .container ._text {
    position: relative;

  }

  .container .container-10 {
    z-index: 19;
  }

  .container .container-3 {
    z-index: 12;
  }

  .container .container-4 {
    z-index: 13;
  }

  .container .container-5 {
    z-index: 14;
  }

  .container .container-6 {
    z-index: 15;
  }

  .container .container-7 {
    z-index: 16;
  }

  .container .container-8 {
    z-index: 17;
  }

  .container .container-9 {
    z-index: 18;
  }

  .container-2 {
    margin-top: 36px;
  }

  ._container .image-1 {
    width: 20%;
    height: auto;
  }

  ._container .text-1 {
    width: 83.125%;
    margin-top: 31px;
    margin-left: 8.41667%;

  }

  ._container-1 {
    height: 300px;
  }

  .container ._text-2 {
    z-index: 3;
    width: 30.7142857142%;
  }

  .container ._text-3 {
    z-index: 4;
    width: 37.1428571428%;
    margin-left: 0.71429%;
  }

  .container ._text-4 {
    z-index: 5;
    width: 27.8571428571%;
    margin-left: 1.09375%;
  }

  .container ._text-5 {
    clear: both;
    z-index: 6;
    width: 27.8571428571%;
    margin-top: 10px;
    margin-left: 2.5%;
  }

  .container ._text-6 {
    z-index: 7;
    width: 36.0714285714%;
    margin-top: 10px;
    margin-left: 2.03125%;
  }

  .container ._text-7 {
    clear: none;
    z-index: 8;
    width: 27.8571428571%;
    margin-top: 10px;
    margin-left: 1.05469%;
  }


}
