<p id="notice"><%= notice %></p>

<p class="text _text text-2 ">Progetti in corso e conclusi</p>
<div class="container _container container-2 clearfix">
  <% @filtered_articles.each do |article| %>
    <div id="Hand" class="container _element container-image">
        <%= link_to article.title , article , :class => "title_thumb" %>
        <%= link_to (image_tag (article.images[0].upload_photo.url(:thumb_medium))), article %>

    </div>
  <% end %>
</div>

<div>
<%= link_to 'New Article', new_article_path %>
</div>
