
<p class="text _text text-2 ">Progetti in corso e conclusi</p>
<div class="container _container container-2 clearfix">
  <% @articles.each do |article| %>
    <div id="Hand" class="container _element container-image">
        <%= link_to article.title , article , :class => "title_thumb" %>
         <% if article.default_photo != nil %>                         <!--         if the default_photo there isn't -->
          <%= link_to image_tag(Image.find(article.default_photo).upload_photo.url(:thumbnail_medium)) , "/articles/#{article.id}/pages" %>
        <% else %>
          <%= link_to image_tag("/images/no_image.png") , "/articles/#{article.id}/pages" %>
        <% end %>
    </div>
  <% end %>
</div>

<div>
<%= link_to 'New Article', new_article_path %>
</div>
