
<!-- change photo in back ground -->
<script>
    $(document).ready(function() {
        $('._container-1 ').css('background-image', 'url(<%= @article.pages.first.images[0].upload_photo.url(:original)%>)');

    });
</script>

<p class="text _text text-2"><%= @article.title %></p>

<p class="indice"> Indice </p>
  <ol>
  <% @article.pages.each do |page| %>
  <li><%= link_to page.title , page %> </li>
  <% end %>
  </ol>



<hr>
<% if user_signed_in? %>
<%= link_to "Delete", @article, :method => :delete, :confirm => "are u sure?" %>
<% end %>
