
<script>
    $(document).ready(function() {
        $('._container-1 ').css('background-image', 'url(<%=  @default_photo %>)');
    });
</script>


<div id="pages">
  <%= render @pages %>
</div>

<%= will_paginate @pages %>
