
<script>
    $(document).ready(function() {
        $('._container-1 ').css('background-image', 'url(<%= Image.find(Article.find(@page.article.id).default_photo).upload_photo.url(:original)%>)');
    });
</script>

<p class="text _text text-2"><%= @page.title %></p>

<%= markdown(@page.content) %>
<hr>
<%= render_gallery_for @images, list_class: 'gallery', item_class: 'photo_gallery' ,  title: 'description'%>
