<!DOCTYPE html>
<html>

  <title>Zalbo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Oswald:300|Bitter:700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/standardize.css">
  <link rel="stylesheet" href="/css/styles.css">
<header class="_container _container-1 clearfix">
  <img class="image image-1" src="/images/logo-02(2).svg">
  <div class="text _text text-1 font">
    <p>"Devi tenere vivo il bambino che è in te:&nbsp;senza di lui non si può creare"</p>
    <p><span>Joni Mitchell</span><br></p>
</div>
</header>
<body class="body page-index clearfix ">
  <ul class="menu">
    <div class="container _container clearfix">
      <li class="_text _text-2 font">All</li>
      <li class="_text _text-3">3d</li>
      <li class="_text _text-4">Design</li>
      <li class="_text _text-5">Audio</li>
      <li class="_text _text-6">elettronica</li>
      <li class="_text _text-7">z-test</li>
    </div>
  </ul>
</body>
</html>
<%= yield %>
